# Data Cleaning

This jupyter notebook file is responsible for cleaning and manipulation the data.

In [1]:
# imports
import pandas as pd

In [2]:
df = pd.read_csv("../data/highest_salary.csv", index_col = "Rank")

In [3]:
df.head()

,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
Rank,,,,,
1,Petroleum Engineering,Bachelors,"$98,100","$212,100",60%
2,Operations Research & Industrial Engineering,Bachelors,"$101,200","$202,600",21%
3,Electrical Engineering & Computer Science (EECS),Bachelors,"$128,500","$192,300",45%
4,Interaction Design,Bachelors,"$77,400","$178,800",55%
5,Building Science,Bachelors,"$71,100","$172,400",46%

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 763 entries, 1 to 763
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Major             763 non-null    object
 1   Degree Type       763 non-null    object
 2   Early Career Pay  763 non-null    object
 3   Mid-Career Pay    763 non-null    object
 4   % High Meaning    763 non-null    object
dtypes: object(5)
memory usage: 35.8+ KB

I see that all of the cols are type object. However, wouldn't you agree if **Early Career Pay**, **Mid-Career Pay** and **% High Meaning** are int64?

Before conversion of dtypes, let first remove the **,** **$** and **%**

In [5]:
df['Early Career Pay'] = df['Early Career Pay'].str.replace('[,$]', '', regex = True)

In [6]:
df['Mid-Career Pay'] = df['Mid-Career Pay'].str.replace('[,$]', '', regex = True)

In [7]:
df['% High Meaning'] = df['% High Meaning'].str.replace('[%]', '', regex = True)

In [8]:
df.head()

,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
Rank,,,,,
1,Petroleum Engineering,Bachelors,98100,212100,60
2,Operations Research & Industrial Engineering,Bachelors,101200,202600,21
3,Electrical Engineering & Computer Science (EECS),Bachelors,128500,192300,45
4,Interaction Design,Bachelors,77400,178800,55
5,Building Science,Bachelors,71100,172400,46

when I was scraping the data, I show that there where some values with '-', in python words nan, let us replace '-' with nan.

In [9]:
print("% High Meaning: ", len(df[df['% High Meaning'] == '-']))
print("Mid-Career Pay: ", len(df[df['Mid-Career Pay'] == '-']))
print("Early Career Pay", len(df[df['Early Career Pay'] == '-']))

% High Meaning:  55
Mid-Career Pay:  0
Early Career Pay 0

In [10]:
df['% High Meaning'] = df['% High Meaning'].replace('-', None)

In [11]:
print("% High Meaning: ", len(df[df['% High Meaning'] == '-']))

% High Meaning:  0

In [12]:
#convert the data type.
df['Early Career Pay']= df['Early Career Pay'].astype("Int64")
df['Mid-Career Pay']= df['Mid-Career Pay'].astype("Int64")

In [13]:
df['% High Meaning'].isna().sum()

55

We cannot directly cast it to int because we have nan values in the column mentioned above.

In [14]:
df['% High Meaning'] = df['% High Meaning'].astype('Int64')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 763 entries, 1 to 763
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Major             763 non-null    object
 1   Degree Type       763 non-null    object
 2   Early Career Pay  763 non-null    Int64
 3   Mid-Career Pay    763 non-null    Int64
 4   % High Meaning    708 non-null    Int64
dtypes: Int64(3), object(2)
memory usage: 38.0+ KB

hur·rah! we have successfully cleaned our data.. we shall **export** the data frame to **CSV** and **save** it into the data folder.

In [16]:
df.to_csv("../data/clean_data.csv")